body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    text-align: center;
    padding: 20px;
}
h2{
    margin-bottom: 30px;
    color: #333;

}


#navigation {
    justify-content: space-around;
    margin-bottom: 20px;
}

#navigation a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 8px;
}

#navigation a:hover {
    background-color: #4caf50;
    color: white;
}
h3{
    margin-top: 50px;

}
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}
.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
}
.product-item img {
    max-width: 100%;
    max-height: 130px;    
    display: block;  
    margin: 0 auto;  
    transition: transform 0.3s ease-in-out;
}
.product-item img:hover {
    transform: scale(3);
}

.product-item select {
    padding: 8px;
    font-size: 14px;
}

.product-item button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.product-item button:hover {
    background-color: #45a049;
}

.wishlist-icon {
    font-size: 35px;
    cursor: pointer;
    margin-left: 50px;
    padding: 0px 10px;
    color: red;
}

#wishlistLink {
    position: relative;
}

#wishlistCount {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    display: none;
}
#wishlistCount:not(:empty) {
    display: inline;
}

#cartLink {
    position: relative;
}

#cartCount {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    display: none;
}
#cartCount:not(:empty) {
    display: inline;
}
#orderList {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

.order {
    display: inline-block;
    width: calc(33.33% - 20px); 
    margin: 0 10px 20px 0; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order h3 {
    color: #333;
}

.order p {
    margin: 5px 0;
}

.order h4 {
    margin-top: 15px;
    color: #555;
}

.order ul {
    list-style-type: none;
    padding: 0;
}

.order li {
    margin-bottom: 5px;
}

.order p strong {
    font-weight: bold;
    color: #444;
}
#search-form {
    margin: 20px 0;
    padding: 15px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#search-form label {
    margin-right: 10px;
    font-weight: bold;
    color: #555;
}

#search-form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

#search-form button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#search-form button:hover {
    background-color: #45a049;
}
