body{
    font-family: 'Nunito Sans', sans-serif;
}
.home-container{
    width:80%;
    margin: auto;
    padding: 20px;
}
h1{
    text-align: center;
    margin:50px 0px;
}
.action{
    width:50%;
    margin: auto;
    color: #888;
    background-color: #f7f9fc;
    text-align: center;
    padding:20px;
    margin-bottom: 50px;
}
.action button{
    padding: 10px 20px;
    color: #fff;
    background-color: #009579;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 100px;
}
.action button:hover{
    cursor: pointer;
    background-color: #006653;
}